{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
  {% block head %}
  {% endblock head %} 
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-navbar">
    <a class="nav-link" href="{% url 'main:home' %}"><img class="home-btn" src="{% static 'img/home.svg' %}" alt=""></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'main:profile' %}">Profile </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'main:experience' %}">Experience</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'main:achievement' %}">Achievement</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'main:projects' %}">Projects</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'main:matkul' %}">Projects</a>
      </li>
      </ul> 
    </div>
  </nav>

  {% block content %}
  {% endblock content %}

  <div id="footer">
    <p>
      © Farhan Ramadhan
    </p>
    <div class="footer-logo">
    <ul>
        <li><a href="https://www.instagram.com/farhan_rmdhn17/"><img src="{% static 'img/instagram.svg' %}" alt="" class="logo"></a></li>
        <li><a href="https://www.facebook.com/farhan.ramadhan.3192"><img src="{% static 'img/facebook.svg' %}" alt="" class="logo"></a></li>
        <li><a href="{% url 'main:profile' %}"><img src="{% static 'img/whatsapp.svg' %}" alt="" class="logo"></a></li>
    </ul>
    </div>
  </div>
</body>
</html>
