{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Achievement</title>
{% endblock head %}

{% block content %}
<div class="container-fluid">
    <div class="row">
          <div class="col">
            <h1>Coming Soon!
            </h1>
            <img src="{% static 'img/helloline.png' %}" alt="lines">
          </div>
    </div>
  </div>
{% endblock content %}
