{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Experience</title>
{% endblock head %}

{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col">
      <h1>Experience
      </h1>
      <img src="{% static 'img/helloline.png' %}" alt="lines">           
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><img src="{% static 'img/Rectangle 4.png' %}" alt="execom"></td>
            <td style="font-size: 20px;" class="badge">Execom 68
            <br>
            <br>
            <br>Wakil Ketua <br>Umum (2017-2018)
            </td>
          </tr>
          <tr>
            <td><img src="{% static 'img/Rectangle 5.png' %}" alt="execom"></td>
          <td style="font-size: 20px;" class="badge">Bazkom<br>Karasel
            <br>
            <br>
            <br>Penanggung Jawab 
            <br>Lomba FIFA 19 (2018)
          </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
{% endblock content %}
