{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Home</title>
{% endblock head %}

{% block content %}
<div class="container-fluid">
  <div class="row">
        <div class="col">
          <h1>Hello!
          </h1>
          <img src="{% static 'img/helloline.png' %}" alt="lines">
          <p>
              Nama Saya Muhammad Farhan Ramadhan, biasa dipanggil Farhan. 
              Sekarang saya kuliah di Universitas Indonesia, Fakultas Ilmu Komputer, 
              jurusan Ilmu Komputer angkatan 2019. 
            <br>
            <span>MAUNG !</span> 
            <br>
              Selamat datang di web profil saya, dimana ada beberapa pengalaman, 
              prestasi, dan proyek(coming soon) yang saya pernah atau sedang lakukan.
            <br>
            <br>
            Terima kasih.
          </p> 
        </div>

        <div class="col">
            <img src="{% static 'img/mypic.png' %}" alt="MyProfilePic">
        </div>
  </div>
</div>
{% endblock content %}
