{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>MatKul</title>
{% endblock head %}

{% block content %}
<form action='' method="POST">
    {% csrf_token %}
    {{ form }}
    <div class='center-items'>
        <input type="submit" class="btn btn-primary" value="Add Mata Kuliah">
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Nama Dosen</th>
            <th scope="col">SKS</th>
            <th scope="col">Deskripsi</th>
            <th scope="col">Semester Tahun</th>
            <th scope="col">Kelas</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for mk in stud %}
            <tr>
                <th scope="row">{{mk.Name}}</th>
                <td>{{mk.NameDos}}</td>
                <td>{{mk.Sks}}</td>
                <td>{{mk.Desc}}</td>
                <td>{{mk.Year}}</td>
                <td>{{mk.Room}}</td>
                <td><a href="{% url 'Delete' pk=mk.pk %}"><button class="btn btn-icon btn-danger">Delete</button></a></td>
                </tr>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}