{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Profile</title>
{% endblock head %}

{% block content %}
<div class="profile">
  <div class="container-fluid">
    <div class="row">
          <div class="col">
            <h1>Profile
            </h1>
            <img src="{% static 'img/helloline.png' %}" alt="lines">
            <dl>
                <dt>Nama</dt>
                <dd> -  Muhammad Farhan Ramadhan</dd>
                <dt>NPM</dt>
                <dd> -  1906306155</dd>
                <dt>Fakultas</dt>
                <dd> -   Fakultas Ilmu Komputer</dd>
                <dt>Angkatan</dt>
                <dd> -   2019</dd>
                <dt>Hobi</dt>
                <dd> -  Gaming, Futsal, Listening to music</dd>
                <dt>Riwayat Pendidikan</dt>
                <dd> -  SMAN 68 Jakarta (2016-2019)</dd>
                <dd> -  SMPN 216 Jakarta (2013-2016)</dd>
                <dd> -  SDN Johar Baru 01 Jakarta (2007-2013)</dd>
                <dt>Contacts</dt>
                <dd> - Whatsapp : +6285711112808</dd>
                <dd> - Line : muhfarhanram</dd>
                <dd> - Email : muhamad.farhan95@ui.ac.id</dd>
            </dl>
          </div>

    </div>
  </div>
</div>
{% endblock content %}
